server:
  port: 8083

spring:
  application:
    name: notification-service
  data:
    mongodb:
      uri: ${MONGO_URI:mongodb://localhost:27017}
      database: banking_notifications

app:
  internal-api:
    key: ${INTERNAL_API_KEY:internal-dev-key-change-in-production}
